#contenedor-portada{
    background-image: url(imagenes/background.png);
    background-size: cover;
    height: 100vh;
    width: 100hv;
}

#contenedor-portada-2{
    background-image: url(imagenes/bg2.png);
    background-size: cover;
}

#footer-icons a{
    text-decoration: none;
    color: #555;
}

#footer-icons ul li{
    display: inline-block;
    margin-right: 30px;
    margin-top: 40px;
}

#footer{
    background-image: url(imagenes/foot.png);
    background-size: cover;
    font-size: 14px;
    text-align: center;
    justify-content: center;
    display: flex;
}

#portada{
    margin: 100px;
    align-items: center;
}

#portada-texto{
    color: white;
}

#portada-2{
    align-items: center;
}

#portada-article{
    color: rgb(15, 15, 15);
    text-align: justify;
    margin: 100px;
}

#portada-article-blanco{
    color: rgb(255, 255, 255);
    text-align: justify;
    margin: 100px;
}

#portada-texto-2{
    color: rgb(0, 0, 0);
    text-align: right;
}


#register{
    background-image: url(imagenes/background.png);
    background-size: cover;
    height: 100vh;
    align-items: center;
}


#register-img{
    width: 500px;
}

#register-formulario{
    background-color: rgba(0, 0, 0, 0.479);
    max-width: 50%;
    display: block;
    margin: 100px;
    padding: 50px;
    color: white;
}

#register-picture{
    display: flex;
    justify-content: center; 
    margin: 100px;  
}

.transparencia{
    background-color: rgba(0, 0, 0, 0.336);
}









.top-nav-collapse{
    background-color: black !important;
}
