#formulario{
    background-color: rgba(0, 0, 0, 0.479);
    max-width: 50%;
    display: block;
    margin: 100px;
    padding: 50px;
    color: white;
}

#portada{
    background-image: url(imagenes/background.png);
    background-size: cover;
    height: 100vh;
    align-items: center;
}

#portada-img{
    width: 600px;
    margin-left: 40px;
}

#portada-texto{
    margin: 40px;
    padding: 20px;
}

#register{
    align-items: center;
    justify-content: center;
    margin: 100px;
}


.transparencia{
    background-color: rgba(0, 0, 0, 0.336);
}










.top-nav-collapse{
    background-color: black !important;
}
