#footer-icons a{
    text-decoration: none;
    color: #555;
}

#footer-icons ul li{
    display: inline-block;
    margin-right: 30px;
    margin-top: 40px;
}

#footer{
    background-image: url(imagenes/foot.png);
    background-size: cover;
    font-size: 14px;
    text-align: center;
    justify-content: center;
    display: flex;
}

#portada{
    background-image: url(imagenes/background.png);
    background-size: cover;
    height: 100vh;
    align-items: center;

}

#portada-2{
    background-image: url(imagenes/bg2.png);
    background-size: cover;
    
    align-items: center;
}

#portada-2-texto{
    text-align: justify;
    padding: 50px;
    color: white;
}

#portada-img{
    width: 800px;
    margin-left: 250px;
}

#portada-img-2{
    width: 800px;
    margin-right: 250px;
    margin-top: 130px;
}

#portada-texto{
    color: white;
    margin: 40px;
    padding: 20px;
}

#portada-texto-2{
    color: white;
    margin-left: 250px;
}

#register{
    background-image: url(imagenes/background.png);
    background-size: cover;
    height: 100vh;
    align-items: center;
}


#register-img{
    width: 500px;
}

#register-formulario{
    background-color: rgba(0, 0, 0, 0.479);
    max-width: 50%;
    display: block;
    margin: 100px;
    padding: 50px;
    color: white;
}

#register-picture{
    display: flex;
    justify-content: center; 
    margin: 100px;  
}

.transparencia{
    background-color: rgba(0, 0, 0, 0.336);
}










.top-nav-collapse{
    background-color: black !important;
}
